{% load i18n %}

<div class="mh-100" style="width: 100%;height: 100%;">
    <h2 style="color: rgb(76,84,92);font-family: 'Abhaya Libre', serif;text-align: center;font-size: 22px;padding-top: 15px;padding-bottom: 10px;border-bottom: 1px solid var(--bs-dark-border-subtle);">
        {% translate 'Chat do Pedido:' %} {{ commission.uuid }}
    </h2>
    <div>
        <div class="row gy-4 row-cols-1 justify-content-center">
            <div class="col"
                 style="background: #EDF5FE;border-radius: 18px;padding: 18px;color: rgb(76,84,92);text-align: center;font-size: 14px;border: 1px solid var(--bs-border-color);width: 960px;">
                <div style="text-align: right;margin-bottom: 8px;">
                    <button class="btn btn-primary" role="button"
                            hx-get="{% url "comms_in_progress" %}"
                            hx-trigger="click"
                            hx-target="#content"
                            hx-swap="innerHTML"
                            style="background: #6ba7f7;border-color: #6ba7f7;border-radius: 8px;font-size: 12px;padding: 4px 8px;">
                        <i class="typcn typcn-arrow-back-outline"
                           style="margin-right: 4px;"></i>
                        {% translate 'Voltar' %}
                    </button>
                    <div id="chat"
                         class="d-flex overflow-y-auto flex-column-reverse"
                         style="height: 660px; max-height: 57.5vh">

                        {% for message in all_messages %}
                            {% include 'accounts/partials/message.html' %}
                        {% empty %}
                            <div id="messages-not-found" class="col">
                                <h2 class="hero-h mx-auto"
                                    style="text-align: center; font-size: 26px; margin-top: 20px">
                                    {% translate 'Nenhuma mensagem encontrada.' %}
                                </h2>
                            </div>
                        {% endfor %}

                    </div>
                    <form hx-ext="ws"
                          ws-connect="/ws/comm_chat/{{ commission.uuid }}"
                          ws-send
                          _="on htmx:wsAfterSend call me.reset() if #upload_preview exists then remove #upload_preview reset #id_image"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="message-input-area" class="position-relative">
                            <textarea class="form-control-sm align-middle" name="content" maxlength="600"
                                      style="border-style: solid;border-color: #6ba7f7;border-radius: 18px;height: auto;max-height: 100px;width: 100%;resize: none;min-height: 80px;padding-right: 68px;padding-left: 24px;padding-top: 8px;padding-bottom: 8px;"
                                      placeholder="Digite sua mensagem."></textarea>
                            {{ image_form.image }}
                            <label class="btn btn-primary position-absolute align-bottom" type="button" for="id_image"
                                   style="background: transparent;color: #6ba7f7;height: auto;font-size: 14px;padding: 2px 8px;border-radius: 18px;right: 48px;bottom: 1px;border-width: 0px;border-color: #6ba7f7;">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em"
                                     fill="currentColor" style="font-size: 28px;width: 26px;height: 26px;">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"></path>
                                </svg>
                            </label>
                            <button class="btn btn-primary position-absolute align-bottom" type="submit"
                                    _="on click if #messages-not-found exists then remove #messages-not-found"
                                    style="background: transparent;color: #6ba7f7;height: auto;font-size: 16px;padding: 4px 8px;border-radius: 18px;right: 14px;bottom: 1px;border-width: 0px;border-color: #6ba7f7;">
                                <i class="fa fa-send" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
