{% load i18n %}

<div class="mh-100" style="width: 100%;height: 100%;">
    <h2 style="color: rgb(76,84,92);font-family: 'Abhaya Libre', serif;text-align: center;font-size: 22px;padding-top: 15px;padding-bottom: 10px;border-bottom: 1px solid var(--bs-dark-border-subtle);">
        Chat Pedido: oijridf-t43rete-Computador
    </h2>
    <div>
        <div class="row gy-4 row-cols-1 justify-content-center">
            <div class="col"
                 style="background: #EDF5FE;border-radius: 18px;padding: 18px;color: rgb(76,84,92);text-align: center;font-size: 14px;border: 1px solid var(--bs-border-color);width: 960px;height: 530px;">
                <div style="text-align: right;margin-bottom: 8px;">
                    <a class="btn btn-primary"
                       role="button"
                       style="background: #6ba7f7;border-color: #6ba7f7;border-radius: 8px;font-size: 12px;padding: 4px 8px;margin-bottom: 12px;"
                       href="active_comms.html">
                        {% translate 'Voltar' %}
                    </a>
                    <div id="chat" class="d-flex overflow-y-auto flex-column-reverse"
                         style="height: 380px;padding-left: 34px;">
                        <div style="text-align: left;margin-bottom: 12px;">
                            <div class="d-inline-block"
                                 style="background: #6ba7f7;padding: 12px 20px;border-radius: 18px;max-width: 60%;">
                                <div class="mw-100"
                                     style="width: 300px;height: auto;margin: 12px auto;">
                                    <img class="img-fluid"
                                         width="940" height="627"
                                         style="width: 100%;height: 100%;border-radius: 30px;object-fit: cover;"
                                         src="pexels-photo-34585923.jpeg"/>
                                </div>
                                <p style="margin: 0;color: white;">
                                    Vestibulum accumsan mauris at fringilla mollis. </p>
                                <span class="d-block"
                                      style="color: white;font-size: 12px;margin-left: 8px;text-align: right;">
                                    Por: test_user
                                </span>

                            </div>
                            <span class="d-block"
                                  style="color: #6ba7f7;font-size: 12px;margin-left: 8px;margin-top: 4px;">
                                Enviado às: 28 de janeiro as 23:56
                            </span>
                        </div>
                        <div style="text-align: left;margin-bottom: 12px;">
                            <div class="d-inline-block"
                                 style="background: #6ba7f7;padding: 12px 20px;border-radius: 18px;max-width: 60%;">
                                <p style="margin: 0;color: white;">
                                    Vestibulum accumsan mauris at
                                    fringilla mollis. Quisque efficitur dui ex, et volutpat metus
                                    sollicitudin in. Nunc eu posuere purus. Donec sed diam
                                    vulputate.
                                </p>
                                <span class="d-block"
                                      style="color: white;font-size: 12px;margin-left: 8px;text-align: right;">
                                    Por: test_user
                                </span>
                            </div>
                            <span class="d-block"
                                  style="color: #6ba7f7;font-size: 12px;margin-left: 8px;margin-top: 4px;">Enviado às: 28 de janeiro as 23:56</span>
                        </div>
                        <div style="margin-bottom: 12px;">
                            <div class="d-inline-block"
                                 style="background: white;padding: 12px 20px;border-radius: 18px;max-width: 60%;">
                                <p style="margin: 0;">Vestibulum accumsan mauris at fringilla mollis.
                                    Quisque efficitur dui ex, et volutpat metus sollicitudin in. Nunc eu
                                    posuere purus. Donec sed diam vulputate, faucibus nibh ac,
                                    consectetur erat. Sed sit amet dui sit amet orci malesuada fringilla
                                    tincidunt sit amet lacus. Sed varius consectetur sapien, vel
                                    placerat dolor. Praesent pellentesque, diam eu cursus pellentesque,
                                    augue odio lacinia justo, non bibendum metus nulla ac ipsum. Aliquam
                                    vestibulum leo vitae felis venenatis vestibulum. Mauris sed dui
                                    vitae elit imperdiet ultrices.</p><span class="d-block"
                                                                            style="color: #6ba7f7;font-size: 12px;margin-left: 8px;text-align: left;">Por: lirio_guinevere</span>
                            </div>
                            <span class="d-block"
                                  style="color: #6ba7f7;font-size: 12px;margin-right: 8px;margin-top: 4px;">Enviado às: 28 de janeiro as 23:51</span>
                        </div>
                        <div style="text-align: left;margin-bottom: 12px;">
                            <div class="d-inline-block"
                                 style="background: #6ba7f7;padding: 12px 20px;border-radius: 18px;max-width: 60%;">
                                <p style="margin: 0;color: white;">Vestibulum accumsan mauris at
                                    fringilla mollis. Quisque efficitur dui ex, et volutpat metus
                                    sollicitudin in. Nunc eu posuere purus. Donec sed diam
                                    vulputate.</p><span class="d-block"
                                                        style="color: white;font-size: 12px;margin-left: 8px;text-align: right;">Por: test_user</span>
                            </div>
                            <span class="d-block"
                                  style="color: #6ba7f7;font-size: 12px;margin-left: 8px;margin-top: 4px;">Enviado às: 28 de janeiro as 23:56</span>
                        </div>
                        <div style="text-align: left;margin-bottom: 12px;">
                            <hr/>
                            <h5 style="margin-bottom: 0;text-align: center;font-family: 'Abhaya Libre', serif;color: rgb(76,84,92);font-size: 26px;margin-left: 8px;">
                                Etapa: Lineart</h5>
                            <div></div>
                            <span class="d-block"
                                  style="color: #6ba7f7;font-size: 12px;font-family: arial;text-align: center;margin-bottom: 8px;margin-left: 8px;">28 de janeiro as 23:56</span>
                            <div class="mw-100" style="width: 400px;height: auto;margin: 0 auto;"><img
                                    class="img-fluid"
                                    alt="A breathtaking sunrise over rugged mountains and misty valleys, offering tranquility and natural beauty."
                                    width="940" height="627"
                                    style="width: 100%;height: 100%;border-radius: 30px;object-fit: cover;"
                                    src="pexels-photo-34585923.jpeg"/></div>
                            <span class="d-block"
                                  style="color: #6ba7f7;font-size: 12px;text-align: center;margin-left: 8px;">Imagem Final da Etapa Anterior</span>
                            <hr/>
                        </div>
                    </div>
                    <div class="position-relative"><textarea class="form-control-sm align-middle"
                                                             style="border-style: solid;border-color: #6ba7f7;border-radius: 18px;height: auto;max-height: 100px;width: 100%;resize: none;min-height: 80px;padding-right: 68px;max-width: 96%;padding-left: 24px;padding-top: 8px;padding-bottom: 8px;"
                                                             placeholder="Digite sua mensagem."></textarea>
                        <button class="btn btn-primary position-absolute align-bottom" type="button"
                                style="background: transparent;color: #6ba7f7;height: auto;font-size: 14px;padding: 2px 8px;border-radius: 18px;right: 52px;bottom: 1px;border-width: 0px;border-color: #6ba7f7;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24"
                                 width="1em" fill="currentColor" style="font-size: 28px;">
                                <path d="M0 0h24v24H0V0z" fill="none"></path>
                                <path d="M2 12.5C2 9.46 4.46 7 7.5 7H18c2.21 0 4 1.79 4 4s-1.79 4-4 4H9.5C8.12 15 7 13.88 7 12.5S8.12 10 9.5 10H17v2H9.41c-.55 0-.55 1 0 1H18c1.1 0 2-.9 2-2s-.9-2-2-2H7.5C5.57 9 4 10.57 4 12.5S5.57 16 7.5 16H17v2H7.5C4.46 18 2 15.54 2 12.5z"></path>
                            </svg>
                        </button>
                        <button class="btn btn-primary position-absolute align-bottom" type="button"
                                style="background: transparent;color: #6ba7f7;height: auto;font-size: 16px;padding: 4px 8px;border-radius: 18px;right: 14px;bottom: 1px;border-width: 0px;border-color: #6ba7f7;">
                            <i class="fa fa-send" style="font-size: 20px;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
