{% load i18n %}

<div class="mh-100" style="width: 100%;height: 100%;">
    <h2 style="color: rgb(76,84,92);font-family: 'Abhaya Libre', serif;text-align: center;font-size: 22px;padding-top: 15px;padding-bottom: 10px;border-bottom: 1px solid var(--bs-dark-border-subtle);">
        {% translate 'Pagamento do pedido:' %} {{ commission.uuid }}
    </h2>
    <div style="height: 100%;">
        <div class="row gy-4 row-cols-1 justify-content-center">
            <div class="col"
                 style="background: #EDF5FE;border-radius: 18px;padding: 18px;color: rgb(76,84,92);text-align: center;font-size: 14px;border: 1px solid var(--bs-border-color);width: 960px;">
                <div class="row gy-1" style="margin-bottom: 12px;font-size: 18px;">
                    <div class="col" style="padding-right: 24px;padding-left: 28px;text-align: right;">
                        <button class="btn btn-primary" role="button"
                                hx-get="{% url "comms_in_progress" %}"
                                hx-trigger="click"
                                hx-target="#content"
                                hx-swap="innerHTML"
                                style="background: #6ba7f7;border-color: #6ba7f7;border-radius: 8px;font-size: 12px;padding: 4px 8px;">
                            <i class="typcn typcn-arrow-back-outline"
                               style="margin-right: 4px;"></i>
                            {% translate 'Voltar' %}
                        </button>
                    </div>
                </div>
                <div class="card mw-100"
                     style="border-radius: 30px;margin-right: auto;margin-left: auto;padding: 0px 30px;border-color: var(--bs-focus-ring-color);margin-bottom: 12px;">
                    <div class="card-body align-content-center" style="text-align: center;">
                        {% include 'accounts/includes/comm_heading.html' %}
                        <h1 style="color: rgb(76,84,92);font-family: 'Abhaya Libre', serif;margin-bottom: 34px;font-size: 28px;">
                            {% translate 'Para prosseguir, realize o pagamento pelo PayPal.' %}
                        </h1>
                        <div id="paypal-button-container"
                             _="on htmx:beforeCleanupElement remove <paypal-sdk-spinner-modal, paypal-sdk-paypal-modal, paypal-sdk-iframe-modal/>"
                             style="margin-bottom: 24px">
                        </div>

                        <div id="result-message"></div>
                        <span style="display: block; margin-bottom: 8px">
                            {% translate 'Ao clicar no botão de pagamento, um popup aparecerá para que você faça login e prossiga com o pagamento.' %}
                        </span>
                        <span style="color: #69a7fc; font-size: 12px">
                            {% translate 'Caso o botão do paypal não apareça, reinicie a página ou entre em contato para suporte.' %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Pass the createOrder, onApprove, onCancel, and onError callbacks to the SDK
    async function createOrder(data) {
        const response = await fetch("{% url 'paypal_create_order' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                'X-CSRFToken': "{{ csrf_token }}"
            },
            // We don't recommend passing order amounts from the client
            // Your API should exchange a SKU for amount values
            body: JSON.stringify({comm_uuid: "{{ commission.uuid }}"}),
        });
        const orderData = await response.json();
        return {orderId: orderData.id};
    }

    async function onApprove(data) {
        const response = await fetch(`{% url 'paypal_capture_order' %}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({orderId: data.orderId}),
        });

        const orderData = await response.json();
        const status = orderData?.purchase_units?.[0]?.payments?.captures?.[0]?.status;
        const issue = orderData?.details?.[0]?.issue;

        if (status === "COMPLETED") {
            document.getElementById("result-message").innerHTML =
                `<p style="color: green;">{% translate "Pagamento aprovado! O status do seu pedido foi atualizado." %}</p>`;

        } else if (issue === "DUPLICATE_INVOICE_ID") {
            document.getElementById("result-message").innerHTML =
                `<p style="color: orange;">{% translate "Pagamento duplicado, esta tentativa de pagamento não foi processada." %}</p>`;

        } else {
            document.getElementById("result-message").innerHTML =
                `<p style="color: red;">{% translate 'Não foi possível confirmar o pagamento. Tente novamente.' %}</p>`;
        }

        return orderData;
    }

    function onCancel(data) {
        document.getElementById("result-message").innerHTML =
            `<p style="color: orange;">{% translate "Pagamento Cancelado" %}</p>`;
    }

    function onError(err) {
        console.error("PayPal Error:", err);
        let errorMessage = "{% translate "Ocorreu um erro. Tente novamente." %}";
        // Handle specific error codes
        if (err.message && err.message.includes("INSUFFICIENT_FUNDS")) {
            errorMessage = "{% translate "Pagamento recusado devido a saldo insuficiente." %}";
        } else if (err.message && err.message.includes("INSTRUMENT_DECLINED")) {
            errorMessage =
                "{% translate "Seu método de pagamento foi recusado, por favor tente com outro." %}";
        } else if (err.message && err.message.includes("TRANSACTION_REFUSED")) {
            errorMessage = "{% translate "A transação foi recusada, por favor entre em contato com o suporte do paypal." %}";
        } else if (err.message && err.message.includes("DUPLICATE_INVOICE")) {
            errorMessage =
                "{% translate "Este pedido já foi processado." %}";
        }
        document.getElementById("result-message").innerHTML =
            `<p style="color: red;">${errorMessage}</p>`;
    }

    // After the browser is done downloading the SDK, it will invoke onLoad()
    // and begin the SDK setup
    async function onLoad() {
        try {
            const sdkInstance = await window.paypal.createInstance({
                clientId: "BAACqVqDtm9_aQU0U_vLcxrZUyQrovrDDPI3CTxhsGvvdshK_4Ic5o6_yDC7P8SDYVKJ_AjwtRxRL8I6Hs", // clientId is safe to put in plaintext on the client
                components: ["paypal-payments"],
            });

            const eligibility = await sdkInstance.findEligibleMethods();
            const isPayPalEligible = eligibility.isEligible("paypal");

            if (isPayPalEligible) {
                const paypalButton = document.createElement("paypal-button");
                document
                    .querySelector("#paypal-button-container")
                    .append(paypalButton);

                const paypalCheckoutSession =
                    await sdkInstance.createPayPalOneTimePaymentSession({
                        onApprove,
                        onCancel,
                        onError,
                    });

                paypalButton.addEventListener("click", async () => {
                    try {
                        // Get the promise reference by invoking createOrder()
                        // Do not await this async function since it can cause transient activation issues
                        const createOrderPromise = createOrder();
                        await paypalCheckoutSession.start(
                            {presentationMode: "auto"},
                            createOrderPromise,
                        );
                    } catch (error) {
                        console.error(error);
                    }
                });
            }
        } catch (error) {
            console.error(error);
        }
    }
</script>
<script
        async
        src="https://www.sandbox.paypal.com/web-sdk/v6/core"
        onload="onLoad()"
></script>
