<div id="message-input-area" hx-swap-oob="afterbegin">
    <div id="upload_preview" class="position-absolute" style="right: 10px;bottom: 90px;width: 100px;height: auto;">
        <div class="position-relative" style="border: 2px solid #6ba7f7;border-radius: 8px;">
            <img class="img-fluid"
                 width="940" height="627" style="width: 100%;height: 100%;object-fit: cover; border-radius: 6px;"
                 src="{{ image.image.url }}"/>
            <button class="btn btn-danger position-absolute" type="button"
                    _="on click remove #upload_preview reset #id_image"
                    style="top: -4px;right: -4px;width: 24px;height: 24px;padding: 0;border-radius: 50%;">
                <svg class="bi bi-x" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                     viewBox="0 0 16 16" style="margin-bottom: 4px;">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"></path>
                </svg>
            </button>
        </div>
        <input name="image_uuid" type="hidden" value="{{ image.uuid }}">
    </div>
</div>