{% load i18n %}
{% extends "base.html" %}

{% block title %}
    {% translate 'Recuperar Senha' %}
{% endblock %}


{% block content %}

    {% include "include/navbar.html" %}
    <section class="position-relative py-4 py-xl-5 login-register-form-section">
        <div class="container">
            <div class="row mt-8 mb-3">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 mb-1 login-register-h">{% translate 'Recuperar Senha' %}</h2>
                    <p class="login-register-subtitle">
                        {% translate 'Esqueceu sua senha? Forneça seu email para receber um link de recuperação.' %}
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5 login-register-card" style="padding: 30px 20px">
                        <div class="card-body d-flex flex-column align-items-center">
                            <form class="text-center" method="post" novalidate>
                                {% csrf_token %}
                                <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                                    <label class="form-label login-register-labels">{% translate 'Email' %}</label>
                                    {{ form.email }}
                                    {{ form.errors.email }}
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary w-100 d-block login-register-btn" type="submit">
                                        {% translate 'Recuperar Senha' %}
                                    </button>
                                </div>
                                <p class="text-muted form-redirect-text">{% translate 'Sua conta não tem um email?' %}
                                    <br>
                                    {% translate 'Entre em contato pelas redes sociais para suporte.' %}
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}