<div class="col ps-0">
    <div style="width: 100%;height: 100%;">
        <h2 style="color: rgb(76,84,92);font-family: 'Abhaya Libre', serif;text-align: center;font-size: 22px;padding-top: 15px;padding-bottom: 10px;border-bottom: 1px solid var(--bs-dark-border-subtle);">
            Editar galeria</h2>
        <div class="container d-flex flex-column align-items-center pe-0 pt-0 pb-4">
            <div class="row gy-2 mw-100 mt-2 mb-4">
                <div class="col col-sm col-md col-lg col-xl col-xxl"
                     style="text-align: center;">
                    <div class="d-inline-block" style="width: 100%;">
                        <button class="btn btn-primary"
                                type="button"
                                hx-get="{% url 'gallery_editor_image_filter' %}?tag=all"
                                hx-target="#gallery"
                                hx-trigger="click"
                                hx-swap="innerHTML"
                                style="background: #69A7FC;color: white;padding: 5px 32px;font-size: 12px;border-radius: 18px;border-width: 1px;border-color: #69A7FC;">
                            All
                        </button>
                    </div>
                </div>
                <div class="col-auto col-sm col-md col-lg col-xl col-xxl"
                     style="text-align: center;">
                    <div class="d-inline-block align-middle" style="width: 162px">
                        <input type="text" class="align-middle"
                               style="width: 124px;border-radius: 30px;border-top-right-radius: 0;border-bottom-right-radius: 0;border: 1px inset #69A7FC;padding: 1px 10px;"
                               placeholder="Adicionar Tag">
                        <button class="btn btn-primary" type="button"
                                style="padding: 1px 4px;border-radius: 50%;border-top-left-radius: 0;border-bottom-left-radius: 0;background: #69A7FC;color: white;border-color: #69A7FC;">
                            <svg class="bi bi-plus-lg" xmlns="http://www.w3.org/2000/svg" width="1em"
                                 height="1em" fill="currentColor" viewBox="0 0 16 16"
                                 style="width: 18px;height: 18px;font-size: 18px;margin-bottom: 2px;margin-right: 4px;">
                                <path fill-rule="evenodd"
                                      d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="d-inline-flex mw-100 overflow-auto flex-row gap-2 align-middle" id="tags">

                        {% for tag in gallery_tags %}
                            <div class="d-flex">
                                <button class="btn btn-primary" type="button"
                                        hx-get="{% url 'gallery_editor_image_filter' %}?tag={{ tag }}"
                                        hx-target="#gallery"
                                        hx-trigger="click"
                                        hx-swap="innerHTML"
                                        style="background: white;color: #69A7FC;padding: 5px 14px;font-size: 12px;border-radius: 18px;border-bottom-right-radius: 0;border-top-right-radius: 0;border-width: 1px;">
                                    {{ tag.tag }}
                                </button>
                                <button class="btn btn-danger" type="button"
                                        style="padding: 1px 8px;border-radius: 50%;border-top-left-radius: 0;border-bottom-left-radius: 0;">
                                    <svg class="bi bi-x-lg" xmlns="http://www.w3.org/2000/svg" width="1em"
                                         height="1em" fill="currentColor" viewBox="0 0 16 16"
                                         style="width: 14px;height: 14px;margin-bottom: 2px;">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"></path>
                                    </svg>
                                </button>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div id="gallery"
                 class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 w-100"
                 style="min-height: 400px;max-width: 800px;"
                 hx-get="{% url "gallery_editor_image_filter" %}?tag=all"
                 hx-trigger="load"
                 hx-target="#gallery"
                 hx-swap="innerHTML"
            >
            </div>

        </div>
    </div>
</div>