{% load i18n %}

<div style="width: 100%;height: 100%;">
    <h2 style="color: rgb(76,84,92);font-family: 'Abhaya Libre', serif;text-align: center;font-size: 22px;padding-top: 15px;padding-bottom: 10px;border-bottom: 1px solid var(--bs-dark-border-subtle);">
        {% translate 'Editar página inicial' %}</h2>
    <form method="post"
          hx-post="{% url "landing_page_editor" %}"
          hx-trigger="submit"
          hx-target="#content"
          hx-swap="innerHTML"
          novalidate
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2">
            <div class="col">
                <div class="mt-3">
                    <div style="width: 300px;margin-right: auto;margin-left: auto;">
                        <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                            <label class="form-label login-register-labels">
                                {% translate 'Commissions Abertas:' %}
                                {{ form.comms_status }}
                                {{ form.errors.comms_status }}
                            </label>
                        </div>
                        <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                            <label class="form-label login-register-labels">
                                {% translate 'Alterar quantidade de vagas:' %}
                            </label>
                            {{ form.slots }}
                            {{ form.errors.slots }}
                        </div>
                        <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                            <label class="form-label login-register-labels">
                                {% translate 'Alterar instagram:' %}
                            </label>
                            {{ form.instagram }}
                            {{ form.errors.instagram }}
                        </div>
                        <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                            <label class="form-label login-register-labels">
                                {% translate 'Alterar twitter:' %}
                            </label>
                            {{ form.twitter }}
                            {{ form.errors.twitter }}
                        </div>
                        <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                            <label class="form-label login-register-labels">
                                {% translate 'Alterar youtube:' %}
                            </label>
                            {{ form.youtube }}
                            {{ form.errors.youtube }}
                        </div>
                        <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                            <label class="form-label login-register-labels">
                                {% translate 'Alterar tiktok:' %}</label>
                            {{ form.tiktok }}
                            {{ form.errors.tiktok }}
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <span class="hero-subtitle"
                                      style="color: #029c1c"
                                      hx-get=""
                                      hx-target=".navbar"
                                      hx-select=".navbar"
                                      hx-trigger="load">
                                    {{ message }}
                                </span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mt-3">
                    <div style="width: 360px;margin-right: auto;margin-left: auto;">
                        <div id="artist-icon-input"
                             class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                            <label class="form-label login-register-labels"
                                   style="margin-bottom: 0; font-size: 14px;">
                                {% translate 'Icone:' %}
                            </label>
                            <br>
                            {{ form.artist_icon }}
                            {{ form.errors.artist_icon }}
                        </div>
                        <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                            <label class="form-label login-register-labels">
                                {% translate 'Alterar nome:' %}
                            </label>
                            {{ form.artist_name }}
                            {{ form.errors.artist_name }}
                        </div>
                        <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                            <label class="form-label login-register-labels">
                                {% translate 'Alterar ocupação:' %}
                            </label>
                            {{ form.occupation }}
                            {{ form.errors.occupation }}
                        </div>
                        <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                            <label class="form-label login-register-labels">
                                {% translate 'Alterar bio:' %}
                            </label>
                            {{ form.bio }}
                            {{ form.errors.bio }}
                        </div>
                        <div class="mb-3">
                            <button
                                    class="btn btn-primary w-100 d-block login-register-btn"
                                    type="submit">
                                {% translate 'Atualizar Dados' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

