{% load i18n %}

<div class="mw-100"
     style="margin-top: 12px;width: 800px;margin-right: auto;margin-left: auto;">
    <div class="row gy-4 row-cols-1 justify-content-center">
        <div class="col">
            <h6 style="color: rgb(90,92,94); font-size: 14px">
                {% translate 'Descrição' %}
            </h6>
            {{ form.description }}
            {{ form.errors.description }}
        </div>
        <div class="col" style="text-align: left;">
            <div>
                <h6 style="color: rgb(90,92,94); font-size: 14px">
                    {% translate 'Imagens de Referência' %}
                </h6>
                {{ form.reference_images }}
                {{ form.errors.reference_images }}
            </div>
        </div>
        <div class="col" style="text-align: left;">
            <div>
                <label class="form-label" style="color: rgb(90,92,94); font-size: 14px">
                    {% translate 'Rede social para contato:' %}
                </label>
                {{ form.contact_social }}
                {{ form.errors.contact_social }}
                <label class="form-label" style="color: rgb(90,92,94); font-size: 14px">
                    {% translate 'Nome na rede social:' %}
                </label>
                {{ form.contact_username }}
                {{ form.errors.contact_username }}
            </div>
        </div>
        <div class="col" style="text-align: left;">
            <div class="form-check">
                {{ form.commercial }}
                {{ form.errors.commercial }}
                <label class="form-check-label"
                       for="{{ form.commercial.id_for_label }}"
                       style="color: rgb(90,92,94); font-size: 14px">
                    {% translate 'Irei fazer uso comercial da arte.' %}
                </label>
            </div>
        </div>
        <div class="col" style="text-align: left;">
            <div class="form-check">
                {{ form.share_permission }}
                {{ form.errors.share_permission }}
                <label class="form-check-label"
                       for="{{ form.share_permission.id_for_label }}"
                       style="color: rgb(90,92,94); font-size: 14px">
                    {% translate 'Permito que meu pedido seja divulgado nas redes sociais e portfólio da artista.' %}
                </label>
            </div>
        </div>
    </div>
</div>