{% load i18n %}

<div class="row"
     style="background: #EDF5FE;padding: 12px;border-radius: 18px;margin-bottom: 24px;">
    <div class="col" style="font-size: 18px;">
        <span class="d-block"
              style=" font-size: 16px; padding: 4px; margin-bottom: 12px;color: white;border-radius: 18px;background: rgb(105,167,252); text-align: center">
            {% translate 'Faço' %}
        </span>
        <ul style="text-align: left;font-size: 14px;color: rgb(105,167,252);">
            <li>{% translate "Oc's" %}</li>
            <li>{% translate 'Personagens Humanos' %}</li>
            <li>{% translate 'Personagens Furry/Híbridos' %}</li>
            <li>{% translate 'Chibi' %}</li>
            <li>{% translate 'Criaturas/Animais' %}</li>
            <li>{% translate 'Mechas/Robôs' %}</li>
            <li>{% translate 'Fanarts' %}</li>
            <li>{% translate 'Cenários' %}</li>
            <li>{% translate 'Objetos (Armas, Acessórios, etc)' %}</li>
            <li>{% translate 'Sheets' %}</li>
            <li>{% translate 'Cenas' %}</li>
        </ul>
    </div>
    <div class="col">
        <span class="d-block"
              style="font-size: 16px; padding: 4px;margin-bottom: 12px;color: rgb(105,167,252);background: white;border-radius: 18px; text-align: center">
            {% translate 'Não Faço' %}
        </span>
        <ul style="text-align: left;font-size: 14px;color: rgb(105,167,252);">
            <li>{% translate 'Nsfw' %}</li>
            <li>{% translate 'Gore Pesado' %}</li>
            <li>{% translate 'Conteúdo de Ódio ou Descriminação' %}</li>
            <li>{% translate 'Fetiches' %}</li>
            <li>{% translate 'Cópia de Estilo de Outros Artistas' %}</li>
            <li>{% translate 'Realismo' %}</li>
            <li>{% translate 'Artes Hiperdetalhadas' %}</li>
            <li>{% translate 'Alterações de Artes de Outros Artistas' %}</li>
            <li>{% translate 'Animação/Gifs' %}</li>
            <li>{% translate 'Qualquer Conteúdo Que Possa Me Deixar Desconfortável' %}</li>
        </ul>
    </div>
</div>