{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    Commission
{% endblock %}

{% block content %}
    {% include "include/navbar.html" %}
    <section class="mt-8 mt-sm-9 mt-md-9 mt-lg-9 mt-xl-9 mt-xxl-9"
             style="width: 100%;height: 100%;color: rgb(33, 37, 41);">
        <div class="row gx-4 gy-2 mw-100" style="width: 1800px;margin-left: auto;margin-right: auto;">
            <div class="col-auto col-sm-auto col-md-auto col-lg-6 col-xl-7 col-xxl-8">
                <div class="card" style="border-radius: 30px;padding: 36px 10px;border-color: rgba(105,167,252,0.36);">
                    <div class="card-body" style="text-align: center;">
                        <h4 class="card-title"
                            style="font-family: 'Abhaya Libre', serif;font-size: 44px;color: rgb(33, 37, 41);">
                            {% if category == "character" %}
                                {% translate 'Commission de Personagem' %}
                            {% elif category == "landscape" %}
                                {% translate 'Commission de Cenário' %}
                            {% elif category == "object" %}
                                {% translate 'Commission de Objeto' %}
                            {% endif %}
                        </h4>
                        {% if messages %}
                            {% for message in messages %}
                                <p class="card-text" style="color: #dc3343">{{ message }}</p>
                            {% endfor %}

                        {% else %}
                            <p class="card-text" style="color: rgb(90,92,94);">
                                {% translate 'Preencha as informações pedidas abaixo para consultar uma estimativa do valor final e prosseguir com o pedido.' %}
                            </p>
                        {% endif %}

                        {% include 'commissions/include/comms_form_content.html' with form=form %}
                    </div>
                </div>
            </div>

            <div class="col col-sm col-md col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mw-100"
                     style="border-radius: 30px;width: 600px;margin-right: auto;margin-left: auto;padding: 20px 30px;border-color: var(--bs-focus-ring-color);">
                    <div class="card-body" style="text-align: center;">
                        <img class="img-fluid mw-100"
                             src="{% static "images/image-placeholder-500x500.jpeg" %}"
                             style="width: clamp(250px, 20vw, 400px);margin-left: auto;margin-right: auto;border-radius: 30px;height: clamp(225px, 20vw, 400px);">
                        <p class="mw-100 card-text" style="margin-top: 20px;font-size: 15px;">
                            {% translate 'Olá! Agradeço o interesse em fazer sua commission comigo.' %}
                            <br>
                            {% translate 'Caso tenha algum problema ou dúvida sinta-se a vontade para entrar em contato comigo pelas minhas redes sociais.' %}
                        </p>
                        <button class="btn btn-primary d-block commission-request-btn"
                                hx-post="{% url "comms_form" %}"
                                hx-target="body"
                                hx-encoding="multipart/form-data"
                                hx-include="#commission-form"
                                type="button"
                                style="margin: 12px auto;">
                            {% translate 'Calcular Valor Estimado' %}
                        </button>

                        {% if calculated_prices %}
                            <span class="d-block" style="margin-bottom: 12px;color: #69A7FC;font-weight: bold;">
                                {% translate 'Valor estimado:' %} <br>BRL: {{ calculated_prices.brl|floatformat:2 }}$ | USD: {{ calculated_prices.usd|floatformat:2 }}$
                            </span>
                        {% endif %}

                        {% if calculated_prices and landing_data.comms_status and user.is_superuser == False %}
                            <p class="mw-100 card-text"
                               style="color: #fcba66; font-weight: bold; margin-top: 20px;font-size: 18px; text-decoration: underline ">
                                {% translate 'Preencha os detalhes do pedido para prosseguir:' %}
                            </p>

                            {% include 'commissions/include/comms_form_details.html' %}

                            <button class="btn btn-primary d-block commission-request-btn"
                                    type="submit"
                                    form="commission-form"
                                    formaction="{% url 'comms_confirmation' %}"
                                    style="margin: 12px auto; margin-top: 12px">
                                {% translate 'Prosseguir com o pedido' %}
                            </button>
                            <span style="font-size: 15px;">
                            {% translate 'Ao prosseguir com o pedido, você concorda com os termos e condições, por favor, acesse o link para conferir antes de prosseguir.' %}
                            </span>
                            <a class="card-link" href="{% url "terms_of_service" read_again=1 %}"
                               style="color: #69A7FC;">
                                {% translate 'Termos e Condições' %}
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <a id="scroll-to-top" title="Scroll to top" href="#" style="background: #69A7FC;">
            <i class="fas fa-angle-up"></i>
        </a>
    </section>
{% endblock %}