{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% translate 'Pedido Confirmado' %}
{% endblock %}

{% block content %}
    {% include 'include/navbar.html' %}
    <section class="mt-9 mt-sm-9 mt-md-9 mt-lg-9 mt-xl-9 mt-xxl-10"
             style="width: 100%;height: 100%;color: rgb(33, 37, 41);">
        <div class="row gx-4 gy-2 mw-100 justify-content-center"
             style="width: 1800px;margin-left: auto;margin-right: auto;">
            <div class="col col-sm col-md col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mw-100"
                     style="border-radius: 30px;width: 1000px;margin-right: auto;margin-left: auto;padding: 20px 30px;border-color: var(--bs-focus-ring-color);">
                    <div class="card-body" style="text-align: center;">
                        <h2 style="font-family: 'Abhaya Libre', serif; margin-bottom: 24px">
                            {% translate 'Pedido realizado com sucesso' %}
                        </h2>
                        <span class="d-block" style="margin-bottom: 12px;color: #69A7FC;">
                        {% translate 'Seu pedido foi realizado com sucesso!' %}
                        <br><br>
                        {% translate 'Seu pedido será analisado e logo você será informado(a) se seu pedido foi aceito e seu valor final.' %}
                        <br><br>
                        {% translate 'Fique de olho nas de notificações no seu perfil e email, caso tenha registrado, para atualizações.' %}
                    </span>
                        <a href="{% url 'user_profile' %}"
                           class="btn btn-primary d-block commission-request-btn"
                           style="margin: 24px auto; width: 100px">
                            {% translate 'Entendi' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}