{% extends "base.html" %}
{% load static %}

{% block title %}
    O' Atelier
{% endblock %}

{% block content %}
    {% include "include/navbar.html" %}
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <div class="mt-8">
        <div class="container mw-100 mt-4 pt-4 mb-0 pb-0 py-xl-5 hero-container">
            <div class="row gy-2">
                <div class="col col-sm col-md-auto col-lg-auto col-xl-auto col-xxl ms-0 ps-3 pe-3 hero-columns">
                    <div class="ps-0 mx-auto profile-img-container">
                        <img class="img-fluid profile-image" width="735"
                             height="661"
                             src="{{ data.artist_icon.url }}">
                    </div>
                </div>
                <div class="col-sm col-md col-lg col-xl col-xxl-9 ms-0 ps-3 hero-columns">
                    <div class="text-center text-sm-center text-md-center text-lg-start text-xl-start text-xxl-start d-inline-block ms-0 mt-0 pt-0 pb-0">
                        <div class="d-inline">
                            <h1 class="hero-h">{{ data.artist_name }}</h1>
                            <span class="hero-subtitle">{{ data.occupation }}</span>
                            <p class="my-3 hero-bio">{{ data.bio }}</p>
                        </div>
                        <ul class="list-unstyled d-inline-block">
                            <li class="social-network">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                     fill="none" class="social-network-icon">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7ZM9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12Z"
                                          fill="currentColor"></path>
                                    <path d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
                                          fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M5 1C2.79086 1 1 2.79086 1 5V19C1 21.2091 2.79086 23 5 23H19C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5ZM19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z"
                                          fill="currentColor"></path>
                                </svg>
                                <a href="https://www.instagram.com/{{ data.instagram }}"
                                   style="color: #9ec5fe">@{{ data.instagram }}</a>
                            </li>
                            <li class="social-network">
                                <svg class="icon icon-tabler icon-tabler-brand-twitter social-network-icon"
                                     xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"></path>
                                </svg>
                                <a href="https://x.com/{{ data.twitter }}"
                                   style="color: #9ec5fe">@{{ data.twitter }}</a>
                            </li>
                            <li class="social-network">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                     fill="none" class="social-network-icon">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M5 7H19C19.5523 7 20 7.44771 20 8V16C20 16.5523 19.5523 17 19 17H5C4.44772 17 4 16.5523 4 16V8C4 7.44772 4.44772 7 5 7ZM2 8C2 6.34315 3.34315 5 5 5H19C20.6569 5 22 6.34315 22 8V16C22 17.6569 20.6569 19 19 19H5C3.34315 19 2 17.6569 2 16V8ZM10 9L14 12L10 15V9Z"
                                          fill="currentColor"></path>
                                </svg>
                                <a href="https://www.youtube.com/@{{ data.youtube }}"
                                   style="color: #9ec5fe">@{{ data.youtube }}</a>
                            </li>
                            <li class="social-network">
                                <svg class="icon icon-tabler icon-tabler-brand-tiktok social-network-icon"
                                     xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"></path>
                                </svg>
                                <a href="https://www.tiktok.com/@{{ data.tiktok }}"
                                   style="color: #9ec5fe">@{{ data.tiktok }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="mt-0 pt-4 pb-0 py-xl-5">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="gallery-h">Galeria</h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-xxl">
                    <div class="mw-100 ps-0 pe-0 gallery-tag-container" style="width: 1280px;">
                        <div class="row gy-1 gy-sm-1 gy-md-1 row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2">
                            <div class="col col-sm col-md col-lg col-xl col-xxl text-center text-sm-center order-sm-first">
                                <button hx-get="{% url "gallery-image-filter" %}?tag=all"
                                        hx-trigger="click"
                                        hx-target="#images-container"
                                        hx-swap="innerHTML"
                                        class="btn btn-primary gallery-all-tag-btn" type="button">All
                                </button>
                            </div>
                            {% for tag in gallery_tags %}
                                <div class="col col-sm col-md col-lg col-xl col-xxl text-center text-sm-center">
                                    <button hx-get="{% url "gallery-image-filter" %}?tag={{ tag }}"
                                            hx-trigger="click"
                                            hx-target="#images-container"
                                            hx-swap="innerHTML"
                                            class="btn btn-primary gallery-tag"
                                            type="button">{{ tag.tag|title }}</button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div hx-get="{% url "gallery-image-filter" %}?tag=all"
                 hx-trigger="load"
                 hx-swap="innerHTML"
                 id="images-container"
                 class="row gx-2 gy-2 row-cols-1 row-cols-md-2 row-cols-xl-3 mt-4"
                 data-bss-baguettebox="">
            </div>
        </div>
    </section>

{% endblock %}