<div style="width: 100%;height: 100%;">
    <h2 style="color: rgb(76,84,92);font-family: 'Abhaya Libre', serif;text-align: center;font-size: 22px;padding-top: 15px;padding-bottom: 10px;border-bottom: 1px solid var(--bs-dark-border-subtle);">
        Alterar dados da conta
    </h2>
    <div class="mt-4" style="margin-top: 60px;text-align: center;">
        <h1 class="hero-h" style="color: rgb(86, 99, 112);">
            {{ user.username }}
        </h1>

        {% if messages %}
            {% for message in messages %}
                <span class="hero-subtitle" style="color: #029c1c">{{ message }}</span>
            {% endfor %}
        {% else %}
            {% if user.email != "" %}
                <span class="hero-subtitle">{{ user.email }}</span>
            {% else %}
                <span class="hero-subtitle">Esta conta não possui um email.</span>
            {% endif %}
        {% endif %}


    </div>
    <div class="mt-3">
        <div style="width: 300px;margin-right: auto;margin-left: auto;">
            <form id="change-data-form" hx-post="{% url "change_account_data" %}"
                  hx-trigger="submit"
                  hx-target="#content"
                  hx-swap="innerHTML"
                  class="text-center"
                  method="post"
                  novalidate>
                {% csrf_token %}
                <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                    <label class="form-label login-register-labels">
                        Alterar nome de usuário:
                    </label>
                    {{ form.username }}
                    {{ form.errors.username }}
                    
                </div>
                <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                    <label class="form-label login-register-labels">
                        Alterar email:
                    </label>
                    {{ form.email }}
                    {{ form.errors.email }}

                </div>
                <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                    <label class="form-label login-register-labels">
                        Alterar senha:
                    </label>
                    {{ form.new_password1 }}
                    <span style="font-size: 11px"
                          class="hero-subtitle">Deixe em branco caso não deseje alterar sua senha.</span>
                    {{ form.errors.new_password1 }}

                </div>
                <div class="text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start mb-3">
                    <label class="form-label login-register-labels">
                        Digite sua senha atual:
                    </label>
                    {{ form.old_password }}
                    {{ form.errors.old_password }}

                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100 d-block login-register-btn" type="submit">
                        Atualizar Dados
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>