{% load i18n %}

<div class="row g-0 d-inline-flex justify-content-center flex-nowrap"
     style="margin-bottom: 12px;font-size: 10px;background: #00000000;color: white;border-radius: 18px;font-weight: bold;border: 2px solid var(--bs-secondary-bg-subtle) ;">

    <div class="col-auto"
         style="
                 {% if commission.stage_index < 0 %}
                     background: var(--bs-gray-400);
                 {% else %}
                     background: #6ba7f7;
                 {% endif %}
                 padding: 4px 6px;border-top-left-radius: 18px;border-bottom-left-radius: 18px;border: 1px solid white;border-top-width: 0px;border-bottom-width: 0px;border-left-width: 0px;">
        {% if commission.stage == "waiting_confirmation" %}
            <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                 xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24"
                 width="1em" fill="currentColor" style="margin-right: 4px;">
                <path clip-rule="evenodd" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z"></path>
            </svg>
        {% elif commission.stage_index > 0 %}
            <i class="far fa-check-circle" style="margin-right: 4px;"></i>
        {% else %}
            <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                 xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                 height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                 style="margin-right: 4px;">
                <g>
                    <rect fill="none" height="24" width="24"></rect>
                </g>
                <g>
                    <g>
                        <rect height="2" width="6" x="9" y="1"></rect>
                        <path d="M19.03,7.39l1.42-1.42c-0.43-0.51-0.9-0.99-1.41-1.41l-1.42,1.42C16.07,4.74,14.12,4,12,4c-4.97,0-9,4.03-9,9 c0,4.97,4.02,9,9,9s9-4.03,9-9C21,10.88,20.26,8.93,19.03,7.39z M13,14h-2V8h2V14z"></path>
                    </g>
                </g>
            </svg>
        {% endif %}
        {% if commission.stage == "waiting_confirmation" or commission.stage_index < 0 %}
            <svg class="bi bi-eye-fill d-md-inline d-lg-none" xmlns="http://www.w3.org/2000/svg"
                 width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                 style="margin-right: 4px;">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"></path>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"></path>
            </svg>
        {% endif %}
        <span class="d-none d-sm-none d-md-none d-lg-inline-block">
                                {% translate 'Aguardando Confirmação' %}
                            </span>
    </div>

    <div class="col-auto"
         style="
                 {% if commission.stage_index < 1 %}
                     background: var(--bs-gray-400);
                 {% else %}
                     background: #6ba7f7;
                 {% endif %}
                 padding: 4px 6px;border: 1px solid white;border-top-width: 0px;border-bottom-width: 0px;">
        {% if commission.stage == "waiting_deposit_payment" %}
            <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                 xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24"
                 width="1em" fill="currentColor" style="margin-right: 4px;">
                <path clip-rule="evenodd" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z"></path>
            </svg>
        {% elif commission.stage_index > 1 %}
            <i class="far fa-check-circle" style="margin-right: 4px;"></i>
        {% else %}
            <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                 xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                 height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                 style="margin-right: 4px;">
                <g>
                    <rect fill="none" height="24" width="24"></rect>
                </g>
                <g>
                    <g>
                        <rect height="2" width="6" x="9" y="1"></rect>
                        <path d="M19.03,7.39l1.42-1.42c-0.43-0.51-0.9-0.99-1.41-1.41l-1.42,1.42C16.07,4.74,14.12,4,12,4c-4.97,0-9,4.03-9,9 c0,4.97,4.02,9,9,9s9-4.03,9-9C21,10.88,20.26,8.93,19.03,7.39z M13,14h-2V8h2V14z"></path>
                    </g>
                </g>
            </svg>
        {% endif %}
        {% if commission.stage == "waiting_deposit_payment" or commission.stage_index < 1 %}
            <svg class="bi bi-piggy-bank-fill d-md-inline d-lg-none"
                 xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                 fill="currentColor" viewBox="0 0 16 16" style="margin-right: 4px;">
                <path d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069q0-.218-.02-.431c.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a1 1 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.74.74 0 0 0-.375.562c-.024.243.082.48.32.654a2 2 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595m7.173 3.876a.6.6 0 0 1-.098.21l-.044-.025c-.146-.09-.157-.175-.152-.223a.24.24 0 0 1 .117-.173c.049-.027.08-.021.113.012a.2.2 0 0 1 .064.199m-8.999-.65a.5.5 0 1 1-.276-.96A7.6 7.6 0 0 1 7.964 3.5c.763 0 1.497.11 2.18.315a.5.5 0 1 1-.287.958A6.6 6.6 0 0 0 7.964 4.5c-.64 0-1.255.09-1.826.254ZM5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0"></path>
            </svg>
        {% endif %}

        <span class="d-none d-sm-none d-md-none d-lg-inline-block">
                                {% translate 'Aguardando Deposito' %}
                            </span>
    </div>

    <div class="col-auto"
         style="
                 {% if commission.stage_index < 2 %}
                     background: var(--bs-gray-400);
                 {% else %}
                     background: #6ba7f7;
                 {% endif %}
                 padding: 4px 6px;border: 1px solid white ;border-top-width: 0px;border-bottom-width: 0px;">
        {% if commission.stage == "sketch" %}
            <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                 xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24"
                 width="1em" fill="currentColor" style="margin-right: 4px;">
                <path clip-rule="evenodd" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z"></path>
            </svg>
        {% elif commission.stage_index > 2 %}
            <i class="far fa-check-circle" style="margin-right: 4px;"></i>
        {% else %}
            <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                 xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                 height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                 style="margin-right: 4px;">
                <g>
                    <rect fill="none" height="24" width="24"></rect>
                </g>
                <g>
                    <g>
                        <rect height="2" width="6" x="9" y="1"></rect>
                        <path d="M19.03,7.39l1.42-1.42c-0.43-0.51-0.9-0.99-1.41-1.41l-1.42,1.42C16.07,4.74,14.12,4,12,4c-4.97,0-9,4.03-9,9 c0,4.97,4.02,9,9,9s9-4.03,9-9C21,10.88,20.26,8.93,19.03,7.39z M13,14h-2V8h2V14z"></path>
                    </g>
                </g>
            </svg>
        {% endif %}
        {% if commission.stage == "sketch" or commission.stage_index < 2 %}
            <svg class="bi bi-pencil-fill d-md-inline d-lg-none"
                 xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                 fill="currentColor" viewBox="0 0 16 16" style="margin-right: 4px;">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"></path>
            </svg>
        {% endif %}
        <span class="d-none d-sm-none d-md-none d-lg-inline-block">
                                {% translate 'Esboço' %}
                            </span>
    </div>

    {% if commission.final_stage_index > 2 %}
        <div class="col-auto"
             style="
                     {% if commission.stage_index < 3 %}
                         background: var(--bs-gray-400);
                     {% else %}
                         background: #6ba7f7;
                     {% endif %}
                     padding: 4px 6px;border: 1px solid white;border-top-width: 0px;border-bottom-width: 0px;">
            {% if commission.stage == "lineart" %}
                <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                     xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24"
                     width="1em" fill="currentColor" style="margin-right: 4px;">
                    <path clip-rule="evenodd" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z"></path>
                </svg>
            {% elif commission.stage_index > 3 %}
                <i class="far fa-check-circle" style="margin-right: 4px;"></i>
            {% else %}
                <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                     xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                     height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                     style="margin-right: 4px;">
                    <g>
                        <rect fill="none" height="24" width="24"></rect>
                    </g>
                    <g>
                        <g>
                            <rect height="2" width="6" x="9" y="1"></rect>
                            <path d="M19.03,7.39l1.42-1.42c-0.43-0.51-0.9-0.99-1.41-1.41l-1.42,1.42C16.07,4.74,14.12,4,12,4c-4.97,0-9,4.03-9,9 c0,4.97,4.02,9,9,9s9-4.03,9-9C21,10.88,20.26,8.93,19.03,7.39z M13,14h-2V8h2V14z"></path>
                        </g>
                    </g>
                </svg>
            {% endif %}
            {% if commission.stage == "lineart" or commission.stage_index < 3 %}
                <svg class="bi bi-pencil-square d-md-inline d-lg-none"
                     xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                     fill="currentColor" viewBox="0 0 16 16" style="margin-right: 4px;">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                </svg>
            {% endif %}
            <span class="d-none d-sm-none d-md-none d-lg-inline-block">
                                {% translate 'Lineart' %}
                            </span>
        </div>
    {% endif %}

    {% if commission.final_stage_index > 3 %}
        <div class="col-auto"
             style="
                     {% if commission.stage_index < 4 %}
                         background: var(--bs-gray-400);
                     {% else %}
                         background: #6ba7f7;
                     {% endif %}
                     padding: 4px 6px;border: 1px solid white;border-top-width: 0px;border-bottom-width: 0px;">
            {% if commission.stage == "flat_colour" %}
                <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                     xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24"
                     width="1em" fill="currentColor" style="margin-right: 4px;">
                    <path clip-rule="evenodd" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z"></path>
                </svg>
            {% elif commission.stage_index > 4 %}
                <i class="far fa-check-circle" style="margin-right: 4px;"></i>
            {% else %}
                <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                     xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                     height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                     style="margin-right: 4px;">
                    <g>
                        <rect fill="none" height="24" width="24"></rect>
                    </g>
                    <g>
                        <g>
                            <rect height="2" width="6" x="9" y="1"></rect>
                            <path d="M19.03,7.39l1.42-1.42c-0.43-0.51-0.9-0.99-1.41-1.41l-1.42,1.42C16.07,4.74,14.12,4,12,4c-4.97,0-9,4.03-9,9 c0,4.97,4.02,9,9,9s9-4.03,9-9C21,10.88,20.26,8.93,19.03,7.39z M13,14h-2V8h2V14z"></path>
                        </g>
                    </g>
                </svg>
            {% endif %}
            {% if commission.stage == "flat_colour" or commission.stage_index < 4 %}
                <svg class="d-md-inline d-lg-none" xmlns="http://www.w3.org/2000/svg"
                     height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                     style="margin-right: 4px;">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M18 4V3c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V6h1v4H9v11c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-9h8V4h-3z"></path>
                </svg>
            {% endif %}
            <span class="d-none d-sm-none d-md-none d-lg-inline-block">
                                {% translate 'Coloração' %}
                            </span>
        </div>
    {% endif %}

    {% if commission.final_stage_index > 4 %}
        <div class="col-auto"
             style="
                     {% if commission.stage_index < 5 %}
                         background: var(--bs-gray-400);
                     {% else %}
                         background: #6ba7f7;
                     {% endif %}
                     padding: 4px 6px;border: 1px solid white;border-top-width: 0px;border-bottom-width: 0px;">
            {% if commission.stage == "render" %}
                <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                     xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24"
                     width="1em" fill="currentColor" style="margin-right: 4px;">
                    <path clip-rule="evenodd" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z"></path>
                </svg>
            {% elif commission.stage_index > 5 %}
                <i class="far fa-check-circle" style="margin-right: 4px;"></i>
            {% else %}
                <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                     xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                     height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                     style="margin-right: 4px;">
                    <g>
                        <rect fill="none" height="24" width="24"></rect>
                    </g>
                    <g>
                        <g>
                            <rect height="2" width="6" x="9" y="1"></rect>
                            <path d="M19.03,7.39l1.42-1.42c-0.43-0.51-0.9-0.99-1.41-1.41l-1.42,1.42C16.07,4.74,14.12,4,12,4c-4.97,0-9,4.03-9,9 c0,4.97,4.02,9,9,9s9-4.03,9-9C21,10.88,20.26,8.93,19.03,7.39z M13,14h-2V8h2V14z"></path>
                        </g>
                    </g>
                </svg>
            {% endif %}
            {% if commission.stage == "render" or commission.stage_index < 5 %}
                <i class="fa fa-paint-brush d-md-inline d-lg-none"
                   style="margin-right: 4px;"></i>
            {% endif %}
            <span class="d-none d-sm-none d-md-none d-lg-inline-block">
                                    {% translate 'Render' %}
                                </span>
        </div>
    {% endif %}

    <div class="col-auto"
         style="
                 {% if commission.stage_index < 6 %}
                     background: var(--bs-gray-400);
                 {% else %}
                     background: #6ba7f7;
                 {% endif %}
                 padding: 4px 6px;border: 1px solid white;border-top-width: 0px;border-bottom-width: 0px;">
        {% if commission.stage == "waiting_full_payment" %}
            <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                 xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24"
                 width="1em" fill="currentColor" style="margin-right: 4px;">
                <path clip-rule="evenodd" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z"></path>
            </svg>
        {% elif commission.stage_index > 6 %}
            <i class="far fa-check-circle" style="margin-right: 4px;"></i>
        {% else %}
            <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                 xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                 height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                 style="margin-right: 4px;">
                <g>
                    <rect fill="none" height="24" width="24"></rect>
                </g>
                <g>
                    <g>
                        <rect height="2" width="6" x="9" y="1"></rect>
                        <path d="M19.03,7.39l1.42-1.42c-0.43-0.51-0.9-0.99-1.41-1.41l-1.42,1.42C16.07,4.74,14.12,4,12,4c-4.97,0-9,4.03-9,9 c0,4.97,4.02,9,9,9s9-4.03,9-9C21,10.88,20.26,8.93,19.03,7.39z M13,14h-2V8h2V14z"></path>
                    </g>
                </g>
            </svg>
        {% endif %}
        {% if commission.stage == "waiting_full_payment" or commission.stage_index < 6 %}
            <svg class="bi bi-piggy-bank-fill d-md-inline d-lg-none"
                 xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                 fill="currentColor" viewBox="0 0 16 16" style="margin-right: 4px;">
                <path d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069q0-.218-.02-.431c.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a1 1 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.74.74 0 0 0-.375.562c-.024.243.082.48.32.654a2 2 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595m7.173 3.876a.6.6 0 0 1-.098.21l-.044-.025c-.146-.09-.157-.175-.152-.223a.24.24 0 0 1 .117-.173c.049-.027.08-.021.113.012a.2.2 0 0 1 .064.199m-8.999-.65a.5.5 0 1 1-.276-.96A7.6 7.6 0 0 1 7.964 3.5c.763 0 1.497.11 2.18.315a.5.5 0 1 1-.287.958A6.6 6.6 0 0 0 7.964 4.5c-.64 0-1.255.09-1.826.254ZM5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0"></path>
            </svg>
        {% endif %}
        <span class="d-none d-sm-none d-md-none d-lg-inline-block">
                                {% translate 'Aguardando Pagamento' %}
                            </span>
    </div>

    <div class="col-auto"
         style="
                 {% if commission.stage_index < 7 %}
                     background: var(--bs-gray-400);
                 {% else %}
                     background: #6ba7f7;
                 {% endif %}
                 padding: 4px 6px;border-top-right-radius: 18px;border-bottom-right-radius: 18px;border: 1px solid white;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;">
        {% if commission.stage == "finished" %}
            <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                 xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24"
                 width="1em" fill="currentColor" style="margin-right: 4px;">
                <path clip-rule="evenodd" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z"></path>
            </svg>
        {% elif commission.stage_index > 7 %}
            <i class="far fa-check-circle" style="margin-right: 4px;"></i>
        {% else %}
            <svg class="d-none d-sm-none d-md-none d-lg-inline-block"
                 xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                 height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                 style="margin-right: 4px;">
                <g>
                    <rect fill="none" height="24" width="24"></rect>
                </g>
                <g>
                    <g>
                        <rect height="2" width="6" x="9" y="1"></rect>
                        <path d="M19.03,7.39l1.42-1.42c-0.43-0.51-0.9-0.99-1.41-1.41l-1.42,1.42C16.07,4.74,14.12,4,12,4c-4.97,0-9,4.03-9,9 c0,4.97,4.02,9,9,9s9-4.03,9-9C21,10.88,20.26,8.93,19.03,7.39z M13,14h-2V8h2V14z"></path>
                    </g>
                </g>
            </svg>
        {% endif %}
        {% if commission.stage == "finished" or commission.stage_index < 7 %}
            <svg class="d-md-inline d-lg-none" xmlns="http://www.w3.org/2000/svg"
                 height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                 style="margin-right: 4px;">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
            </svg>
        {% endif %}

        <span class="d-none d-sm-none d-md-none d-lg-inline-block">
                                {% translate 'Finalizado' %}
                            </span>
    </div>

</div>